﻿@model IEnumerable<DiplomFreelance.Models.FreelanceModels.ViewModel.CategoryViewModel>

<div class="d-flex flex-row mh-100">
    <div class="col-md-4 col-sm-4" style="overflow-y: auto;">
        <ul class="pl-4" style="list-style-type: none; font-size:1rem">
            @foreach (var itemCategory in Model)
            {
                <li class="mb-3">
                    @Ajax.ActionLink(itemCategory.Name, "_OrderCategoryPartial", "Customer", new { idCategory = itemCategory.ID },
                   new AjaxOptions { UpdateTargetId = "resultSubcategorysModal" })
                </li>
            }
        </ul>
    </div>
    <div class="col-md-8 col-sm-8">
        <div id="resultSubcategorysModal" style="overflow-y: auto">

        </div>
    </div>
</div>