﻿@model IEnumerable<DiplomFreelance.Models.FreelanceModels.ViewModel.SubcategoryViewModel>

<div class="d-flex flex-row flex-wrap">
    @foreach (var categorySub in Model)
    {
        <div class="col-lg-6 col-md-6 col-sm-12 text-wrap mb-2">
            <a class="sm-text" href="#" onclick="SelectSubcategory(@categorySub.ID ,'@categorySub.Name')">@categorySub.Name</a>
        </div>
    }
</div>