﻿@model DiplomFreelance.Models.FreelanceModels.ViewModel.OrderDetailViewModel

<script type="text/javascript">

    function OpenChat(idexec) {
        $.ajax({
            url: '/Chat/ChatPartial',
            data: { 'iduser': idexec },
            cache: false,
            success: function (html) {
                $("#chatBody").html(html);
            }
        });
        $('#chatModalCenter').modal('show');
    }
</script>
<div class="container">
    <div class="row mt-5 p-4 bg-light rounded-lg shadow col-lg-8 col-md-12">
        <div class="col">
            <div class="row align-items-center ">
                <div class="col-8">
                    <p class="h2 font-weight-bold">@Model.Order.Name</p>
                </div>
                <div class="col-4 ">
                    <p class="h4 font-weight-bold float-right">до @Model.Order.Budget <i class="fa fa-rub" aria-hidden="true"></i></p>
                </div>
            </div>
            <div class="row align-items-center ">
                <div class="col-8">
                    <p>@Model.Order.Category • @Model.Order.Subcategory</p>
                </div>
                <div class="col-4 ">
                    <p class="text-muted float-right">@Model.Order.Measure</p>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center">
                <div class="col-3 p-0">
                    @switch (Model.Order.Status)
                    {
                        case "Опубликован":
                            <p class="alert-primary text-center rounded-pill p-1">@Model.Order.Status</p>
                            break;
                        case "Выполняется":
                            <p class="alert-warning text-center rounded-pill p-1">@Model.Order.Status</p>
                            break;
                        case "Завершен":
                            <p class="alert-success text-center rounded-pill p-1">@Model.Order.Status</p>
                            break;
                        case "Ожидание":
                            <p class="alert-warning text-center rounded-pill p-1">@Model.Order.Status</p>
                            break;
                        case "Отклонен":
                            <p class="alert-danger text-center rounded-pill p-1">@Model.Order.Status</p>
                            break;
                    }

                </div>
                <div class="col">
                    <p class="text-muted">Заказ был опубликован @Model.Order.Date.ToShortDateString() в @Model.Order.Date.ToShortTimeString()</p>
                </div>
            </div>
            <hr />
            @if (Model.Order.Files.Count() > 0)
            {
                <p class="xl-text font-weight-bold">Изображения</p>
                <div class="row mt-3">
                    @foreach (var img in Model.Order.Files)
                    {
                        <div class="col-md-4">
                            @* <a class="example-image-link" href="@img.Image" data-lightbox="example-1"><img class="example-image" src="@img.Image" alt="image-1" /></a>*@
                            <a class="example-image-link" href="@img.Image" data-lightbox="roadtrip_@img.ID">
                                <img class="img-responsive rounded w-100 example-image" src="@img.Image" name="Images" />
                            </a>

                        </div>
                    }
                </div>

                <hr />
            }
            <p><b>Описание</b> <br />@Model.Order.Description</p>
            <hr />
            <div class="row">
                <div class="col-1">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <p> до @Model.Order.Deadline.ToShortDateString()</p>
                </div>
            </div>
            @if (!String.IsNullOrEmpty(Model.Order.Address))
            {
                <div class="row">
                    <div class="col-1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        <p>По адресу • @Model.Order.Address</p>
                    </div>
                </div>

            }
            else
            {
                <div class="row">
                    <div class="col-1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        <p>@Model.Order.Place</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    @if (Model.Order.ID_Status == 4)
    {
        <div class="row mt-5 p-4 bg-light rounded-lg shadow col-lg-8 col-md-12">
            <div class="col">
                <p> <strong class="h5">Заказчик предлагает Вам этот заказ.</strong> Изучите описание заказа и решите, готовы ли Вы за него взяться.</p>
                <a class="btn btn-outline-success text-success rounded-pill mt-2" href="@Url.Action("SetStatusForOrder", "Executor",  new { idOrder = Model.Order.ID, status = 2 })"><i class="fa fa-check" aria-hidden="true"></i> Принять заказ</a>

                <a class="btn btn-outline-danger text-danger rounded-pill mt-2" href="@Url.Action("SetStatusForOrder", "Executor",   new { idOrder = Model.Order.ID, status = 5 })"><i class="fa fa-times" aria-hidden="true"></i> Отказаться</a>


                <br />
                <br />
                <p>Если Вам недостаточно подробно описали заказ, <strong class="h5">Вы можете написать заказчику в чат.</strong></p>
                <a class="btn btn-outline-info rounded-pill mt-2 text-info" onclick="OpenChat('@Model.Order.ID_Customer')" href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Чат с этим заказчиком</a>
            </div>
        </div>
    }
    else if (Model.Order.ID_Status == 1)
    {
        <p class="h4 text-muted mt-4">Кол-во откликов: @Model.Order.Responses.Count()</p>

        if (Model.ResponseVM.Notation == null)
        {
            using (Html.BeginForm("OrderDetails", "Executor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row mt-4 p-4 bg-light rounded-lg shadow col-lg-8 col-md-12">
                    <div class="col">
                        <h2 class="font-weight-bold ">Оставьте свой отклик</h2>
                        <div class="form-group">
                            <textarea class="form-control" name="Notation" id="NotationResponse" placeholder="Напишите здесь о своем опыте работы в данной области, и почему заказчик должен выбрать именно Вас" required></textarea>
                        </div>

                        <div class="d-flex">
                            <input type="text" class="form-control col-3" name="Price" id="PriceResponse" placeholder="Цена" required>
                            <p class="text-muted ml-auto">@Model.Order.Measure</p>
                        </div>
                        <input type="hidden" name="ID_Order" value="@Model.Order.ID" />
                        <input type="submit" value="Откликнуться" class="btn btn-outline-success rounded-pill mt-3 float-right" />
                    </div>
                </div>

            }
        }
        else
        {

            <div class="row mt-5 p-4 bg-light rounded-lg shadow col-lg-8 col-md-12">
                <div class="col">
                    <h2 class="font-weight-bold ">Вы оставили отклик</h2>
                    <p><b>Ваш отклик: </b>@Model.ResponseVM.Notation</p>

                    <div class="row">
                        <div class="col-8">
                            <p><b>Ваша цена: @Model.ResponseVM.Price <i class="fa fa-rub" aria-hidden="true"></i></b>   </p>
                        </div>
                        <div class="col-4 ">
                            <p class="text-muted float-right">@Model.Order.Measure</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
    else if (Model.Order.ID_Status == 3)
    {
        <div class="row mt-5 p-4 bg-light rounded-lg shadow col-lg-8 col-md-12">
            <div class="col">
                <p> <strong class="h5">Заказ завершен</strong> </p>
            </div>
        </div>
    }
    else if (Model.Order.ID_Status == 2)
    {
        <div class="row mt-5 p-4 bg-light rounded-lg shadow col-lg-8 col-md-12">
            <div class="col">
                <p> <strong class="h5">Вас выбрали исполнителем заказа</strong></p>
                <a class="btn btn-outline-info rounded-pill mt-2" onclick="OpenChat('@Model.Order.ID_Customer')" href="#">Чат с этим заказчиком</a>
                <a href="@Url.Action("CompleteOrder", "Executor", new { idOrder = Model.Order.ID })" class="btn btn-outline-danger text-danger rounded-pill mt-2">Закончить заказ</a>
            </div>
        </div>
    }
</div>